body {
  margin: 0;
  padding: 0px;
  font-family: monospace;
}
h1,h2,h3,h4,ul
{
  margin: 0px;
}

:root
{
  --brand-color-1:#767676;
  --brand-color-2:#d1d1d1;
  --color-white:#fff;
  --color-black:#000;
  --radius:8px;
  --ff-heading:monospace;
  --ff-content:sans-serif;

}

.btn
{
  border: 1px solid var(--brand-color-2);
  border-radius: var(--radius);
  padding: 3px 8px;
  text-decoration: none;
  text-transform: capitalize;
  transition: border .1s ease-in-out,color .1s ease-in-out;
}
.btn:hover
{
  border-color: var(--color-black);
  color: var(--color-black);
}
.list
{
  list-style: none;
  padding: 0px;
}
